In [2]:
# import the pandas dependency
import pandas as pd

In [3]:
data_to_load = 'vine_table.csv'
vine_df = pd.read_csv(data_to_load)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10003I619LWL0,5,1,1,N,N
1,R100078OO83YQB,5,0,0,N,N
2,R10009XH2FY9Q0,5,4,4,N,N
3,R1000EJULTHQ16,5,0,0,N,N
4,R1000GECIM9DZG,5,0,0,N,Y
...,...,...,...,...,...,...
1785992,RZZZDQGRX01W1,5,0,0,N,Y
1785993,RZZZGGBUNXUZ2,5,0,0,N,Y
1785994,RZZZNDQXT8BQS,5,0,0,N,Y
1785995,RZZZU2TD7Q3ET,5,0,0,N,Y
1785996,RZZZYCP48D6MH,5,2,3,N,Y

In [4]:
# The data is filtered to create a DataFrame or table where there are 20 or more total votes 
moreThan20_total_votes_df = vine_df[vine_df["total_votes"] >= 20]
moreThan20_total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
80,R1005PFAPGMYQS,2,157,197,N,N
124,R1009G1O5COOGR,1,11,31,N,Y
200,R100F8ULLVWYBM,5,40,46,N,N
216,R100GBS8DFUBV,1,42,76,N,N
225,R100HDKWNFPMOD,1,5,21,N,N
...,...,...,...,...,...,...
1785729,RZZ8UZIVQJKE4,2,73,84,N,N
1785731,RZZ91LUSVGGQK,5,45,45,N,N
1785763,RZZCCGXNFBPNV,4,41,48,N,N
1785836,RZZJ5LW34HKU8,1,16,21,N,N
1785951,RZZTUIX1574RC,1,24,24,N,Y

In [5]:
# The data is filtered to create a DataFrame or table where the percentage of helpful_votes 
#is equal to or greater than 50% 
greaterThan50_votes_percentage_df = moreThan20_total_votes_df[(moreThan20_total_votes_df["helpful_votes"]/vine_df["total_votes"]) >= 0.5]
greaterThan50_votes_percentage_df

C:\Users\Hayden\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
80,R1005PFAPGMYQS,2,157,197,N,N
200,R100F8ULLVWYBM,5,40,46,N,N
216,R100GBS8DFUBV,1,42,76,N,N
227,R100HHRVOO0NWO,1,19,23,N,N
239,R100IW4TJ91L45,2,25,41,N,N
...,...,...,...,...,...,...
1785729,RZZ8UZIVQJKE4,2,73,84,N,N
1785731,RZZ91LUSVGGQK,5,45,45,N,N
1785763,RZZCCGXNFBPNV,4,41,48,N,N
1785836,RZZJ5LW34HKU8,1,16,21,N,N
1785951,RZZTUIX1574RC,1,24,24,N,Y

In [16]:
# The data is filtered to create a DataFrame or table where there is a Vine review
paid_vine_program_df = greaterThan50_votes_percentage_df[greaterThan50_votes_percentage_df["vine"] == "Y"]
total_paid_vine = paid_vine_program_df.count()
paid_vine_program_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5723,R10FO5UKKVZBK2,3,23,23,Y,N
9172,R10P2XVXA9DYTO,5,21,25,Y,N
21902,R11O4YSCPSNL6L,3,20,26,Y,N
28388,R12648VHCQWUV9,4,21,28,Y,N
52014,R13Z4M71WMGPPQ,3,26,30,Y,N
...,...,...,...,...,...,...
1657122,RQ5WD90PUNBU9,5,21,24,Y,N
1723625,RV8FVXVWTEAX,4,97,107,Y,N
1734357,RW25NTS59UG55,4,39,43,Y,N
1760013,RY0555ILXIYXW,5,38,50,Y,N
1764111,RYBLWBAL5M1AY,4,68,76,Y,N

In [17]:
# The data is filtered to create a DataFrame or table where there isn’t a Vine review
unpaid_vine_program_df = greaterThan50_votes_percentage_df[greaterThan50_votes_percentage_df["vine"] == "N"]
total_unpaid_vine = unpaid_vine_program_df.count()
unpaid_vine_program_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
80,R1005PFAPGMYQS,2,157,197,N,N
200,R100F8ULLVWYBM,5,40,46,N,N
216,R100GBS8DFUBV,1,42,76,N,N
227,R100HHRVOO0NWO,1,19,23,N,N
239,R100IW4TJ91L45,2,25,41,N,N
...,...,...,...,...,...,...
1785729,RZZ8UZIVQJKE4,2,73,84,N,N
1785731,RZZ91LUSVGGQK,5,45,45,N,N
1785763,RZZCCGXNFBPNV,4,41,48,N,N
1785836,RZZJ5LW34HKU8,1,16,21,N,N
1785951,RZZTUIX1574RC,1,24,24,N,Y

In [13]:
# The total number of reviews
total_reviews = greaterThan50_votes_percentage_df["review_id"].count()
total_reviews

40565

In [14]:
# The total number of 5-star reviews
total_5star_reviews = greaterThan50_votes_percentage_df[greaterThan50_votes_percentage_df["star_rating"] == 5].count()
total_5star_reviews

review_id            15711
star_rating          15711
helpful_votes        15711
total_votes          15711
vine                 15711
verified_purchase    15711
dtype: int64

In [18]:
#the percentage 5-star reviews are calculated for all Vine reviews
paid_5star_reviews = paid_vine_program_df[paid_vine_program_df['star_rating'] == 5].count()
paid_percentage_5star_reviews = round(paid_5star_reviews / total_paid_vine * 100,2)
paid_5star_reviews

review_id            48
star_rating          48
helpful_votes        48
total_votes          48
vine                 48
verified_purchase    48
dtype: int64

In [ ]:
paid_5star_reviews

In [ ]:
count_paid_vine

In [19]:
#the percentage 5-star reviews are calculated for all non-Vine reviews
unpaid_5star_reviews = unpaid_vine_program_df[unpaid_vine_program_df['star_rating'] == 5].count()
unpaid_percentage_5star_reviews = round(unpaid_5star_reviews / total_unpaid_vine * 100,2)
unpaid_5star_reviews

review_id            15663
star_rating          15663
helpful_votes        15663
total_votes          15663
vine                 15663
verified_purchase    15663
dtype: int64

In [20]:
Vine_Review_Analysis = [{
    "total_reviews":total_reviews,
    "total_5star_reviews": total_5star_reviews['star_rating'],
    "paid_5star_reviews": paid_5star_reviews['star_rating'],
    "paid_percentage_5star_reviews":paid_percentage_5star_reviews['star_rating'],
    "unpaid_5star_reviews":unpaid_5star_reviews['star_rating'],
    "unpaid_percentage_5star_reviews":unpaid_percentage_5star_reviews['star_rating']
    }]
Vine_Review_Analysis_df = pd.DataFrame(Vine_Review_Analysis)
Vine_Review_Analysis_df

,total_reviews,total_5star_reviews,paid_5star_reviews,paid_percentage_5star_reviews,unpaid_5star_reviews,unpaid_percentage_5star_reviews
0,40565,15711,48,51.06,15663,38.7